@import url('https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,200..800;1,200..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Markazi+Text:wght@400..700&display=swap');

html {
  font-size: 16px;
  min-width: 20rem;
}
:root {
  --font-primary: 'Karla', sans-serif;
  --font-secondary: 'Markazi Text', serif;

  --font-size-base: 1rem;
  --font-size-sm: 1.125rem;
  --font-size-md: 1.25rem;
  --font-size-lg: 2.5rem;
  --font-size-xl: 4rem;

  --font-weight-regular: 400;
  --font-weight-normal: 500;
  --font-weight-bold: 700;
  --font-weight-xbold: 800;

  --line-height-normal: normal;
  --line-height-lg: 140%;

  --primary-green: #495E57;
  --primary-green-drk: #3A4B46;
  --primary-yellow: #F4CE14;
  --secondary-highlight: #FBDABB;
  --secondary-highlight-two: #EE9972;
  --secondary-grey: #EDEFEE;
  --secondary-off-black: #333333;
  --warning: #ec0101;
  --black: #000000;
  --white: #ffffff;

  --drop-shadow: 0 0.25rem 0.625rem 0 rgba(0, 0, 0, 0.25);

  --max-width-desktop: 53.75rem;
}
.sr-only {
  display: none;
}
body {
  font-family: var(--font-primary);
  font-size: var(--font-size-base);
  font-weight: var(--font-weight-regular);
  line-height: var(--line-height-normal);
}
h1, h2, h3, h4, h5, p {
  padding: 0;
  margin: 0;
}
h1 {
  font-family: var(--font-secondary);
  font-size: var(--font-size-xl);
  font-weight: var(--font-weight-normal);
  line-height: 3.25rem;
}
h2{
  font-family: var(--font-secondary);
  font-size: var(--font-size-lg);
  font-weight: var(--font-weight-regular);
  line-height: 2.5rem;
}
h3 {
  font-family: var(--font-primary);
  font-size: var(--font-size-md);
  font-weight: var(--font-weight-xbold);
  text-transform: uppercase;
}
h4 {
  color: var(--white);
  font-family: var(--font-primary);
  font-size: var(--font-size-md);
  font-weight: var(--font-weight-bold);
}
h5 {
  color: var(--black);
  font-family: var(--font-primary);
  font-size: var(--font-size-sm);
  font-weight: var(--font-weight-bold);
}
p {
  color: var(--primary-green);
  font-family: var(--font-primary);
  font-size: var(--font-size-base);
  font-weight: var(--font-weight-regular);
  line-height: var(--line-height-lg);
}
menu {
  padding: 0;
  margin: 0;
}
li {
  list-style: none;
  padding: 0.5rem;
}
a {
  color: var(--black);
  font-family: var(--font-primary);
  font-size: var(--font-size-md);
  font-weight: var(--font-weight-bold);
  text-decoration: none;
}
header, main, .hero, footer, .testimonials {
  display: grid;
  grid-template-columns: minmax(2rem, 1fr) minmax(auto, 53.75rem) minmax(2rem, 1fr);
  column-gap: 1.25rem;
}
header > *, footer > * {
  grid-column: 2;
}
.btn-link, .btn-submit, button {
  font-family: var(--font-primary);
  font-size: var(--font-size-md);
  font-weight: var(--font-weight-bold);
  color: var(--black);
  line-height: var(--line-height-normal);
  display: flex;
  padding: 0.95rem 1.75rem;
  justify-content: center;
  align-items: center;
  border-radius: 1rem;
  border: 1px solid var(--primary-yellow);
  background: var(--primary-yellow);
  width: fit-content;
  text-align: center;
  box-sizing: border-box;
  transition: all 0.2s ease-in-out;
  cursor: pointer;
}
.btn-link:active, button:not(button:disabled, .btn-menu, .date-selector, .time-button ):active {
  box-shadow: inset 0 0 0 100rem rgba(0, 0, 0, 0.25);
}
header .nav-menu a:active {
  text-shadow: none;
}
header .nav-menu a.active:not(.section-link) {
  border-bottom: 2px solid var(--primary-yellow);
}
.btn-submit {
  width: 100%;
  margin: 0 0 1rem;
}
.btn-submit:disabled {
  opacity: 40%;
  cursor: auto;
}
.modal-overlay {
  display: flex;
  position: fixed;
  width: 100%;
  height: 100vh;
  z-index: 200;
  top: 0;
  left: 0;
  border: none;
  align-items: center;
  justify-content: center;
  padding: 0;
  min-width: 20rem;
  background-color: rgba(0, 0, 0, 0.5);
}
.modal-bg-close {
  display: flex;
  position: fixed;
  width: 100%;
  height: 100vh;
  top: 0;
  min-width: 20rem;
  background: none;
}
.modal-content {
  width: calc(100% - 2rem);
  max-width: 35rem;
  background: var(--white);
  border-radius: 1rem;
  padding: 2rem;
  box-sizing: border-box;
  z-index: 1;
  text-align: center;
}
.modal-content span {
  display: flex;
  flex-wrap: wrap;
  gap: 1.25rem;
  padding-top: 1.5rem;
}
.modal-content button {
  flex: 1 0 0;
  font-size: var(--font-size-sm);
  white-space: nowrap;
  color: var(--primary-green);
  background: var(--secondary-grey);
  border-color: var(--secondary-grey);
}


/* Tooltips */
.show-full-control {
  cursor: pointer;
  color: #949494;
  font-weight: var(--font-weight-normal);
  font-size: var(--font-size-base);
  margin-top: 0.25rem;
  align-self: flex-start;
}
.react-tooltip.tooltip {
  background: var(--white);
  color: var(--primary-green);
  box-shadow: var(--drop-shadow);
  font-size: var(--font-size-base);
  max-width: 10rem;
  border-radius: 0.5rem;
  opacity: 100%;
}

/* Header Nav */
header {
  padding: 2rem 0;
}
header section {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 1rem 2rem;
  text-align: center;
}
header img {
  width: 12rem;
  height: auto;
}
header nav {
  flex-grow: 1;
}
header .nav-menu {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
header li {
  flex-shrink: 0;
}
.nav-menu li:first-of-type {
  padding-left: 0;
}
.nav-menu li:last-of-type {
  padding-right: 0;
}

/* Header Nav Mobile */
.btn-menu {
  display: flex;
  position: relative;
  z-index: 100;
  width: 2.5rem;
  height: 1.875rem;
  background: none;
  border: none;
  padding: 0px;
  cursor: pointer;
}
.btn-menu-img {
  width: 100%;
  height: auto;
  position: absolute;
  left: 0;
  transition: transform 0.3s ease, opacity 0.05s ease;
}
.btn-menu-img.hidden {
  opacity: 0;
  pointer-events: none;
  transform: rotateX(90deg);
}
.btn-menu-img.visible {
  opacity: 1;
  pointer-events: auto;
  transform: rotateX(0deg);
}
header .nav-menu-mobile {
  box-sizing: border-box;
  flex-direction: column;
  height: 100vh;
  width: 100%;
  padding: 4.5rem 0;
  overflow: hidden;
  position: absolute;
  top: 0;
  gap: 0;
  background: var(--white);
  box-shadow: var(--drop-shadow);
  justify-content: flex-start;
  z-index: 99;
  display: none;
}
header .nav-menu-mobile.open {
  display: block;
  left: 0;
}
header .nav-menu-mobile li {
  border-bottom: 1px solid var(--secondary-grey);
  padding: 0;
}
header .nav-menu-mobile li:first-of-type {
  border-top: 1px solid var(--secondary-grey);
}
header .nav-menu-mobile a {
  display: block;
  width: 100%;
  padding: 2rem 0;
}

/* Main */
main section {
  grid-column: 2;
}
main header {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

/* Hero */
.hero {
  grid-column: 1 / span 3;
  background: var(--primary-green);
  color: var(--white);
  padding: 3rem 0rem;
}
.hero img {
  border-radius: 1rem;
}

/* Hero Home */
.hero-home header {
  grid-area: header;
  padding: 1.2rem 0 2rem;
  justify-self: start;
}
.hero-home h1 {
  color: var(--primary-yellow);
  padding: 0;
}
.hero-home p {
  font-size: var(--font-size-md);
  color: var(--white);
  grid-area: p;
  padding-bottom: 2.5rem;
  line-height: normal;
  max-width: 17.5rem;
}
.hero-home .btn-link {
  align-self: flex-start;
  grid-area: btn;
  margin-bottom: 1.2rem;
}
.hero-home img {
  max-height: 22.5rem;
  width: 100%;
  height: auto;
  object-fit: cover;
  grid-row: span 3;
  justify-self: center;
}
.hero-home {
  display: grid;
  grid-template-areas: "header img"
                        "p img"
                        "btn img";
  grid-template-columns: auto 1fr;
  column-gap: 3.12rem;
}

/* Home Specials Section */
.specials {
  padding: 6.25rem 0;
}
.specials > header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  column-gap: 1.875rem;
}
.specials > section {
  display: flex;
  align-items: flex-start;
  gap: min(2rem, 2%);
}
.specials article {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  flex: 1;
  align-self: stretch;
  border-radius: 1rem;
  background: var(--secondary-grey);
}
.specials article > img {
  width: 100%;
  height: 11.25rem;
  object-fit: cover;
  border-radius: 1.25rem 1.25rem 0 0;
}
.specials .item-details {
  padding: 1.25rem;
  display: flex;
  flex-direction: column;
  flex: 1;
}
.specials .item-details header {
  padding: 0;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
}
.specials .item-details h5 {
  display: block;
  width: 8rem;
}
.specials .item-details a {
  font-size: var(--font-size-sm);
  font-weight: var(--font-weight-normal);
  display: flex;
  align-items: center;
  flex: 0 1 auto;
  gap: 0.5rem;
  width: 10rem;
}
.specials .item-details > p {
  flex: 1;
  padding: 1.5rem 0;
}
.specials .item-details .item-price {
  color: var(--primary-green);
  flex: none;
  font-weight: var(--font-weight-normal);
  width: 3.4rem;
}
.specials .btn-link{
  white-space: nowrap;
}
.specials .show-full-control {
  margin-top: -1rem;
  display: none;
}

/* Testimonials */
.testimonials {
  background-color: var(--secondary-grey);
  grid-column: 1 / span 3;
  padding: 6.25rem 0;
}
.testimonials header {
  align-items: center;
  grid-column: 2;
  padding: 0;
}
.testimonials section {
  padding-top: 3.12rem;
  display: flex;
  gap: 1rem;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  max-height: 19rem;
  overflow: hidden;
}
.testimonials article {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 1rem;
  background: var(--white);
  border-radius: 1rem;
  flex: 1;
  max-width: calc(33% - 2.1rem);
}
.testimonials span {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.5rem;
}
.testimonials h5 {
  font-size: var(--font-size-base);
}
.testimonials .rating {
  flex-wrap: wrap;
}
.testimonials .star-rating {
  display: flex;
  flex-direction: row;
  gap: .125rem;
  width: 4.25rem;
}
.testimonials .profile h5{
  width: 4.5rem;
  overflow: hidden;
  text-overflow: ellipsis;
}
.testimonials .star-rating img {
  width: 0.75rem;
  height: 0.75rem;
}
.testimonials img {
  width: 3.125rem;
  height: 3.125rem;
  border-radius: 100%;
}
.testimonials .description {
  flex-direction: column;
  align-items: flex-start;
  gap: 0;
}
.testimonial-text {
  display: block;
}
.testimonials p {
  overflow: hidden;
  max-height: 8.5rem;
  display: -webkit-box;
  -webkit-line-clamp: 6;
  -webkit-box-orient: vertical;
}

/* About */
.about {
  padding: 6.25rem 0 2rem;
  display: grid;
  grid-template-areas: "header img"
                        "p img"
                        ". img";
  grid-template-columns: repeat(auto-fit, minmax(17.5rem, 1fr));
  column-gap: 3.12rem;
}
.about header {
  grid-area: header;
  padding: 0;
}
.about h1, .about h2 {
  color: var(--primary-green);
}
.about .gallery {
  grid-area: img;
  grid-row: span 3;
  width: 100%;
  flex-shrink: 0;
  position: relative;
  height: auto;
  padding-bottom: 18%;
}
.about img {
  position: relative;
  width: 60%;
  height: auto;
  border-radius: 2%;
  box-shadow: 0 0 0 0.3rem var(--white);
  top: 28%;
}
.about img:last-of-type {
  margin-top: -100%;
  top: -5%;
  right: -40%;
}
.about p {
  padding-top: 1rem;
  grid-area: p;
  line-height: var(--line-height-normal);
  font-weight: var(--font-weight-normal);
}

/* Footer */
footer {
  padding: 4.375rem 0 1.5rem;
  background: var(--primary-green);
}
footer section {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 2rem;
  align-items: flex-start;
}
footer img {
  width: 5rem;
  height: auto;
  margin-top: 0.5rem;
  margin-right: 2.5rem;
}
footer nav h5:nth-of-type(1) {
  grid-area: title-1;
}
footer nav h5:nth-of-type(2) {
  grid-area: title-2;
}
footer nav h5:nth-of-type(3) {
  grid-area: title-3;
}
footer nav menu:nth-of-type(1) {
  grid-area: menu-1;
}
footer nav menu:nth-of-type(2) {
  grid-area: menu-2;
}
footer nav menu:nth-of-type(3) {
  grid-area: menu-3;
}
footer nav {
  display: grid;
  grid-template-areas: "title-1 title-2 title-3"
                         "menu-1 menu-2 menu-3";
  grid-template-columns: auto auto;
  column-gap: 2.5rem;
  width: 100%;
}
footer h5 {
  padding-bottom: 0.25rem;
  max-width: 12rem;
}
footer li {
  padding: 0.25rem 0;
}
footer a {
  color: var(--white);
  font-weight: var(--font-weight-normal);
  display: inline-flex;
  gap: 0.5rem;
  align-items: flex-start;
  justify-content: flex-start;
}
footer a span {
  display: flex;
  flex-grow: 1;
}
footer .icon-nav {
  max-width: 1.4375rem;
  height: 1.4375rem;
  margin-top: 0;
  margin-right: 0;
}
footer .social-menu li {
  display: inline-block;
  margin-right: 1.25rem;
}
footer .icon-social {
  width: 2rem;
  height: 2rem;
  margin-right: 0;
}
footer p {
  text-align: center;
  color: var(--white);
  padding-top: 2rem;
}

/* Hero Booking */
.booking-page .hero, .booking-confirmation .hero {
  padding: 1rem 0;
}
.booking-page .hero-img-booking, .booking-confirmation .hero-img-booking {
  grid-column: 2;
  width: 100%;
  height: 16.7rem;
  object-fit: cover;
  max-width: 40rem;
  justify-self: center;
  width: 100%;
}

/* Booking Form */
.booking-page > section:not(.hero) {
  display: flex;
  gap: 2rem;
  flex-direction: column;
  padding: 6.25rem 0;
  max-width: 40rem;
  justify-self: center;
  width: 100%;
}
.booking-page header {
  padding: 0;
}
.booking-section form, .booking-section fieldset {
  padding: 0;
  border: none;
  margin: 0;
}
.booking-section fieldset {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

/* Booking Selectors Section */
.booking-selectors {
  display: grid;
  grid-template-areas: "date groupSize"
                          "seating occasion";
  grid-template-columns: 1fr 1fr;
  gap: 1.25rem;
  position: relative;
}

/* Booking Date Button & Menu */
.booking-selectors .react-datepicker-wrapper {
  grid-area: date;
  position: relative;
}
.booking-selectors .date-selector {
  padding: 1rem 1rem 1rem 3.125rem;
  border-radius: 1rem;
  cursor: pointer;
  transition: background-color 0.2s;
  width: 100%;
  border: none;
  text-align: left;
  justify-content: flex-start;
  font-weight: var(--font-weight-bold);
  font-size: var(--font-size-sm);
  color: var(--primary-green);
}
.booking-selectors .react-datepicker__tab-loop {
  position: absolute;
  width: 100%;
  grid-area: date;
  min-width: 310px;
  z-index: 100;
}
.booking-selectors .react-datepicker-popper {
  width: 100%;
  box-shadow: var(--drop-shadow);
  border-radius: 0.3125rem;
  padding: 0 1rem;
  box-sizing: border-box;
  background-color: var(--white);
}
.booking-selectors svg.react-datepicker__triangle {
  stroke: white; /* Border color */
  stroke-width: 0px; /* Border thickness */
  fill: white !important; /* Background color inside the SVG */
  filter: drop-shadow(0px 0px 3px rgba(0, 0, 0, 0.15));
  z-index: -1;
}
.booking-selectors .react-datepicker {
  font-family: var(--font-primary);
  border: none;
  width: 100%;
  border-radius: 0.3125rem;
  font-size: var(--font-size-base);
}
.booking-selectors .react-datepicker__header {
  background-color: var(--white);
  border-bottom: 1px solid var(--secondary-grey);
  border-radius: 0.3125rem 0.3125rem 0 0 !important;
}
.booking-selectors .react-datepicker h2 {
  font-family: var(--font-primary);
  font-weight: var(--font-weight-normal);
}
.booking-selectors .react-datepicker .react-datepicker__navigation {
  margin-top: 0.6rem;
}
.booking-selectors .react-datepicker .react-datepicker__navigation-icon::before {
  border-width: 2px 2px 0 0;
  border-color: var(--primary-green);
}
.booking-selectors .react-datepicker__day-name, .booking-selectors .react-datepicker__day, .booking-selectors .react-datepicker__time-name {
  margin: 0.3rem;
}
.booking-selectors .react-datepicker__day-names, .booking-selectors .react-datepicker__week {
  display: flex;
  justify-content: space-between;
}
.booking-selectors .react-datepicker__month-container {
  width: 100%;
}
.booking-selectors .react-datepicker__month {
  padding-bottom: 1rem;
}
.booking-selectors .react-datepicker__day {
  border-radius: 50% !important;
}
.booking-selectors .react-datepicker__day--selected {
  background-color: var(--primary-green);
  color: var(--white);
  font-weight: var(--font-weight-normal);
  box-shadow: 0 0 0 2px var(--primary-green);
}
.booking-selectors .react-datepicker__day--keyboard-selected {
  background-color: #dddddd;
  box-shadow: 0 0 0 2px #dddddd;
}

/* Booking Select Buttons */
.booking-selectors .seating-selector,  .booking-selectors .group-size-selector, .booking-selectors .occasion-selector {
  height: 55px;
  background-color: var(--secondary-grey);
  border: none;
  border-radius: 1rem;
}
.booking-selectors .custom-select__control {
  padding: 0 1rem 0 0.375rem;
  height: 100%;
  background-color: var(--secondary-grey);
  border: none;
  border-radius: 1rem;
  box-shadow: none;
}
.booking-selectors .custom-select__placeholder, .booking-selectors .custom-select__single-value span {
  color: var(--primary-green);
  font-weight: var(--font-weight-bold);
  line-height: var(--line-height-normal);
  font-size: var(--font-size-sm);
  min-height: 2.5rem;
  align-items: center;
  display: flex;
  white-space: wrap;
}
.booking-selectors .custom-select__menu:before {
  content: '';
  position: absolute;
  top: -11px;
  left: calc(50% - 10px);
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 10px solid rgba(0, 0, 0, 0.10);
  filter: blur(3px);
  z-index: 1;
}
.booking-selectors .custom-select__menu:after {
  content: '';
  position: absolute;
  top: -10px;
  left: calc(50% - 13px);
  width: 0;
  height: 0;
  border-left: 13px solid transparent;
  border-right: 13px solid transparent;
  border-bottom: 13px solid white;
  z-index: 2;
}

/* Booking Times Available */
.times-available {
  display: flex;
  row-gap: 1.25rem;
  flex-direction: column;
}
.times-available .heading {
  display: flex;
  gap: 0.75rem;
}
.times-available p {
  color: var(--black);
}
.time-options {
  display: inline-flex;
  flex-wrap: wrap;
  gap: 1.25rem;
}
.time-options .time-button{
  color: var(--black);
  background-color: var(--primary-yellow);
  border: 3px solid var(--primary-yellow);
  border-radius: 1rem;
  display: flex;
  padding: 0.75rem;
  justify-content: center;
  align-items: center;
  gap: 0.4rem;
  flex: 1 0 0;
  text-align: center;
  font-family: Karla;
  font-size: var(--font-size-sm);
  font-style: normal;
  font-weight: var(--font-weight-bold);
  line-height: normal;
  transition: all 0.2s ease-in-out;
  flex: 0;
  width: 5.5rem;
}
.time-options .time-button.selected {
  background-color: var(--primary-green-drk);
  border-color: var(--primary-green);
  color: var(--white);
}
.time-options .time-button span {
  font-size: var(--font-size-base);
}

/* Booking Contact Info */
.contact-info {
  display: flex;
  flex-direction: column;
  row-gap: 1.25rem;
}
.contact-info section {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
}
.contact-info .field-row {
  display: flex;
  justify-items: center;
  gap: 1.25rem;
  width: 100%;
}
.contact-info .field {
  display: flex;
  flex-direction: column;
  min-height: 5.92rem;
  width: 100%;
}
.contact-info section > .field:last-of-type {
  min-height: 7.4rem;
}
.contact-info .field p {
  margin-top: 0.1rem;
  color: var(--warning);
}
.contact-info label {
  padding-bottom: 3px;
}
.contact-info input, .contact-info textarea {
  font-family: Karla;
  font-size: 1.1875rem;
  font-style: normal;
  font-weight: var(--font-weight-normal);
  line-height: normal;
  padding: 0.75rem 1rem;
  border-radius: 0.3125rem;
  border: 1px solid #000;
  background: #FFF;
  width: 100%;
  box-sizing: border-box; 
}
.contact-info textarea {
  resize: vertical;
  min-height: 4.5rem;
}

/* Booking Confirmation Page */
.booking-confirmation > section:not(.hero) {
  display: flex;
  gap: 2rem;
  flex-direction: column;
  padding: 6.25rem 0;
  justify-self: center;
  width: 100%;
  max-width: 40rem;
  width: 100%;
}
.booking-confirmation header {
  padding: 0;
}

/* Booking Confirmation Details - selected details */
.reservation-details {
  display: flex;
  flex-direction: column;
  row-gap: 2rem;
}
.reservation-details .selected-details {
  display: flex;
  flex-wrap: wrap;
  column-gap: 2rem;
  row-gap: 1.25rem;
  max-width: 31rem;
}
.reservation-details .selected-details span {
  display: flex;
  flex-direction: row;
  column-gap: 0.62rem; 
}
.reservation-details .selected-details span p {
  white-space: nowrap;
  color: var(--black);
  font-size: var(--font-size-md);
  font-weight: var(--font-weight-bold);
  line-height: var(--line-height-normal);
}

/* Booking Confirmation Details - inputed details */
.reservation-details .inputed-details {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 0.5rem;
}
.reservation-details .inputed-details p {
  color: var(--black);
  font-size: var(--font-size-md);
  font-weight: var(--font-weight-normal);
  line-height: var(--line-height-normal);
}
.reservation-details .inputed-details span:last-of-type p {
  padding-top: 1.5rem;
}
.reservation-details .inputed-details > span {
  display: flex;
  column-gap: 1rem;
  align-items: flex-start;
}
.reservation-details .inputed-details span span{
  display: block;
  width: 5.4rem;
  font-size: var(--font-size-md);
  line-height: var(--line-height-normal);
  color: var(--primary-green);
}

/* Booking Confirmation Actions */
.reservation-actions {
  display: flex;
  flex-wrap: wrap;
  gap: 1.25rem;
  padding-bottom: 0.75rem;
}
.reservation-actions .container-btn {
  position: relative;
  flex: 1 0 0;
}
.reservation-actions .container-btn:first-of-type {
  z-index: 2;
}
.reservation-actions button {
  display: flex;
  justify-content: center;
  align-items: center;
  white-space: nowrap;
  padding: 1rem;
  gap: 0.75rem;
  border-radius: 1rem;
  background: var(--secondary-grey);
  color: var(--primary-green);
  font-size: var(--font-size-md);
  font-weight: var(--font-weight-bold);
  line-height: var(--line-height-normal);
  border: none;
  width: 100%;
}
.reservation-actions button .icon-add-cal {
  width: 1.375rem;
  height: 1.375rem;
}
.reservation-actions #calendar-options {
  position: absolute;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 1rem;
  border-radius: 1rem;
  width: 100%;
  box-sizing: border-box;
  background-color: var(--white);
  top: 4.2rem;
  box-shadow: var(--drop-shadow);
}
.reservation-actions #calendar-options:before {
  content: '';
  position: absolute;
  top: -11px;
  left: calc(50% - 10px);
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 10px solid rgba(0, 0, 0, 0.10);
  filter: blur(3px);
  z-index: 1;
}
.reservation-actions #calendar-options:after {
  content: '';
  position: absolute;
  top: -10px;
  left: calc(50% - 13px);
  width: 0;
  height: 0;
  border-left: 13px solid transparent;
  border-right: 13px solid transparent;
  border-bottom: 13px solid white;
  z-index: 2;
}

/* Booking Confirmation Location Details */
.location-details {
  display: flex;
  padding: 0.5rem 0rem;
  align-items: center;
  gap: 1.25rem;
}
.location-details img {
  border-radius: 1rem;
  border: 3px solid var(--secondary-grey);
}
.location-details p, h5, a {
  font-size: var(--font-size-md);
  line-height: var(--line-height-normal);
}
.location-details h5 {
  margin-bottom: 0.5rem;
}
.location-details p, .location-details a {
  font-weight: var(--font-weight-normal);
  color: var(--black);
}
.location-details p {
  margin-bottom: 1rem;
}
.location-details a {
  text-decoration-line: underline;
  text-decoration-style: solid;
  text-decoration-skip-ink: none;
  text-decoration-thickness: 8%; /* 1.52px */
  text-underline-offset: 14.5%; /* 2.755px */
  text-underline-position: from-font;
}

@media (hover: hover) and (pointer: fine) {
  .btn-link:hover, button:not(button:disabled, .btn-menu):hover {
    background-color: var(--primary-green);
    border-color: var(--primary-green);
    color: var(--white);
  }
  .hero-home .btn-link:hover {
    background: var(--secondary-grey);
    border-color: var(--secondary-grey);
    color: var(--primary-green);
  }
  .nav-menu a:hover, footer a:hover {
    text-shadow: -0.25px 0 currentColor, 0.25px 0 currentColor;
  }
  button.btn-menu:hover {
    background: none;
  }
  .booking-selectors .react-datepicker__day:not(.react-datepicker__day--disabled):hover {
    background-color: var(--primary-yellow) !important;
    color: var(--secondary-off-black);
    box-shadow: 0 0 0 2px var(--primary-yellow);
  }
  .booking-selectors .react-datepicker__day--disabled:hover {
    background-color: var(--white);
    color: #ccc;
  }
  .booking-selectors .react-datepicker__day--selected:not(.react-datepicker__day--disabled):hover {
    background-color: var(--primary-green) !important;
    color: var(--white);
    box-shadow: 0 0 0 2px var(--primary-green);
  }
  .booking-selectors .date-selector:hover {
    color: var(--primary-green);
  }
  .booking-selectors .custom-select__control:hover {
    cursor: pointer;
  }
  .time-options .time-button:hover {
    background-color: var(--primary-green);
    border-color: var(--primary-green);
    color: var(--white);
  }
  .time-options .time-button.selected:hover {
    background-color: var(--primary-green-drk);
  }
  .reservation-actions button:hover {
    background-color: var(--primary-green);
    color: var(--white);
  }
  .reservation-actions button:hover .icon-add-cal {
    color: var(--white);
  }
  .reservation-actions .btn-add-cal.selected:hover {
    background-color: var(--secondary-grey);
    color: var(--primary-green);
    cursor: auto;
  }
  .reservation-actions .btn-add-cal.selected:hover .icon-add-cal {
    color: var(--primary-green);
  }
  .reservation-actions #calendar-options button:hover {
    background-color: var(--secondary-off-black);
  }
  .reservation-actions .container-btn:last-of-type button:hover {
    background-color: var(--secondary-highlight-two);
    color: var(--black);
  }
}

/* Small Screens */
@media (max-width: 730px) {
  header, main, .hero, footer {
    grid-template-columns: [left-edge] 1rem minmax(auto, 53.75rem) 1rem;
  }

  /* Header Nav Small*/
  header {
    padding: 1.5rem 0;
  }
  header > section {
    flex-direction: column;
  }
  header menu {
    flex-wrap: wrap;
    justify-content: center;
  }
  .nav-menu li:nth-of-type(2) {
    display: none;
  }

  /* Hero-home Small */
  .hero-home {
    grid-template-areas: "header header"
                          "p img"
                          "btn img";
    grid-template-columns: 1fr 1fr;
    column-gap: 1.5rem;
  }
  .hero-home img {
    grid-row: span 2;
    max-height: 15rem;
  }
  .hero-home p {
    max-width: none;
  }
  .hero-home .btn-link {
    margin-bottom: 0;
  }

  /* Specials Small */
  .specials {
    padding: 3rem 0;
  }
  .specials section {
    flex-direction: column;
    gap: 1rem;
  }
  .specials article {
    flex-direction: row-reverse;
    align-items: stretch;
  }
  .specials article > img {
    width: 0rem;
    height: auto;
    max-width: 10rem;
    flex: 1;
    border-radius: 0 1rem 1rem 0;
  }
  .specials .item-details header {
    gap: 1rem;
    align-items: flex-start;
  }
  .specials .item-details h5 {
    white-space: wrap;
    width: auto;
  }
  .specials .item-details p{
    padding: 0;
    max-width: 25rem;
    overflow: hidden;
    max-height: 3rem;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
  }
  .specials .show-full-control {
    display: flex;
  }

  /* Testimonials Small */
  .testimonials {
    padding: 3rem 0;
  }
  .testimonials section {
    flex-direction: column;
    max-height: none;
  }
  .testimonials article {
    max-width: none;
    flex-direction: row;
    max-width: 28rem;
  }
  .testimonials .rating {
    position:absolute;
    margin-left: 5.5rem;
  }
  .testimonials .profile {
    flex-direction: column;
  }
  .testimonials .profile h5 {
    text-align: center;
  }
  .testimonials p {
    margin-top: 2rem;
    overflow: hidden;
    max-height: 4.25rem;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
  }

  /* About Small */
  .about {
    grid-template-columns: auto minmax(20rem, 1fr);
    column-gap: 2rem;
    padding: 3rem 0 2rem;
  }
  .about .gallery {
    max-width: 30rem;
    padding-top: 1.5rem;
  }
  .about {
    grid-template-areas: "header header"
                          "p img";
    grid-template-columns: 0.75fr 1fr;
  }

  /* Hero Booking Small */
  .booking-page .hero, .booking-confirmation .hero {
    padding: 0;
  }
  .booking-page .hero-img-booking, .booking-confirmation .hero-img-booking {
    grid-column: 1 / span 3;
    width: 100%;
    height: 11.25rem;
    object-fit: cover;
    border-radius: 0;
    max-width: none;
  }
  .booking-page > section:not(.hero), .booking-confirmation > section:not(.hero) {
    padding: 4.25rem 0;
  }

  /* Booking Contact Info Small */
  .contact-info .field-row {
    flex-direction: column;
    gap: 0.25rem;
  }

  /* Footer Small */
  footer section {
    flex-wrap: wrap-reverse;
    justify-content: flex-start;
  }
  footer menu {
    margin-bottom: 1.5rem;
  }
  footer section > img {
    display: none;
  }
  footer a {
    display: inline-flex;
  }
}

/* Mobile Screens */
@media (max-width: 550px) {
  header, main, .hero, footer, .testimonials {
    grid-template-columns: [left-edge] 0.5rem repeat(4, [col-start] 1fr) 0.5rem;
    column-gap: 0.75rem;
  }
  header > *, footer > *, main section, .hero > *, .testimonials > * {
    grid-column: col-start / span 4;
  }
  .hero, .testimonials {
    grid-column: left-edge / span 6;
  }
  .btn-link {
    padding: 0.5rem 1rem;
    border-radius: 1.5rem;
    font-size: var(--font-size-sm);
    text-align: center;
  }

  /* Header Nav Mobile*/
  header {
    padding: 1rem 0;
  }
  header section {
    flex-direction: row-reverse;
    justify-content: flex-end;
    gap: 0;
    padding-right: 2.5rem;
  }
  header img {
    width: auto;
    height: 2.5rem;
    margin: 0 auto;
    z-index: 100;
  }
  header nav {
    max-width: 2.5rem;
  }

  /* Hero Home Mobile */
  .hero {
    padding: 1rem 0;
  }
  .hero-home {
    grid-template-areas: "header header"
                          "p img"
                          "btn img";
    grid-template-columns:  1fr 0.75fr;
    column-gap: 1rem;
    padding: 1rem 0;
  }
  .hero-home header {
    padding: 0 0 1rem;
  }
  .hero-home img {
    height: 90%;
    max-height: 12.5rem;
    width: 100%;
  }
  .hero-home p {
    font-size: var(--font-size-sm);
    padding-bottom: 1.5rem;
  }
  .hero-home .btn-link {
    padding: 0.5rem 1rem;
    border-radius: 1.5rem;
    font-size: var(--font-size-sm);
    text-align: center;
  }

  /* Specials Mobile */
  .specials {
    padding: 2rem 0;
  }
  .specials header {
    flex-direction: column;
    gap: 1.5rem;
    padding: 0 0 2rem;
    align-items: flex-start;
  }
  .specials .item-details header {
    flex-wrap: nowrap;
  }
  .specials .item-details p {
    max-height: 4.25rem;
    -webkit-line-clamp: 3;
  }
  .specials .btn-link {
    width: 100%;
  }

  /* Testimonials Mobile */
  .testimonials {
    padding: 2rem 0;
  }
  .testimonials header {
    grid-column: col-start / span 4;
  }
  .testimonials section {
    padding-top: 2rem;
  }
  .testimonials .rating {
    flex-wrap: nowrap;
  }

  /* About Mobile */
  .about {
    grid-template-areas: "header"
                          "img"
                          "p";
    row-gap: 1rem;
    grid-template-columns: auto;
    padding: 2rem 0;
  }
  .about .gallery {
    grid-row: span 1;
    margin: 0 auto;
  }
  .about img {
    width: 50%;
    right: -5%;
  }
  .about img:last-of-type {
    top: 0;
    right: 5%;
  }
  .about p, .about header {
    width: 100%;
    max-width: 26rem;
    margin: 0 auto;
  }

  /* Hero Booking Mobile */
  .booking-page .hero-img-booking, .booking-confirmation .hero-img-booking {
    grid-column: 1 / span 6;
  }
  .booking-page > section:not(.hero), .booking-confirmation > section:not(.hero) {
    padding: 2rem 0 4.25rem;
  }

  /* Booking Selectors Section Small */
  .booking-selectors {
    grid-template-areas: "date"
                          "groupSize"
                          "seating" 
                          "occasion";
    grid-template-columns: 1fr;
  }

  /* Booking Confirmation Location Details*/
  .location-details {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  /* Footer Mobile */
  footer nav {
    text-align: center;
    display: grid;
    grid-template-areas: "title-1"
                          "menu-1"
                          "title-2"
                          "menu-2"
                          "title-3"
                          "menu-3";
    grid-template-columns: 1fr;
  }
  footer nav h5{
    max-width: none;
    padding-top: 2rem;
  }
}
